<div>
    <div ng-if="editMode === 'true'">
        <form id='aboutForm' ng-submit="data.images.getImages()">
            <div>
                <label for="">pixabay token</label>
                <input name="business" type='text' ng-model='data.images.token' />
            </div>
            <div>
                <label for="">Specify image retrival (query)</label>
                <input name="business" type='text' ng-model='data.images.query' />
            </div>
            <input type="submit">Fetch Images</input>
        </form>
    </div>

    <div ng-if="editMode === 'false'">
        <div>
            <label>{{data.metaData.title}}</label>
        </div>
        <div ng-if='data.images.hits && data.images.hits.length > 0'>
            <div ng-repeat="img in data.images.hits">
            <img src="{{img.previewURL}}"/>
                                               </div>
        </div>
    </div>
</div>